

/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Lato|Share+Tech+Mono');


*, *:before, *:after {
  box-sizing: border-box;
}

/* Clock */

body{
	background-image: url('diamond_upholstery.png');
}

.pomodoroClock{
	font-family: 'Lato', sans-serif;
	text-align: center;
}

#clock{
    font-family: 'Share Tech Mono', monospace;
    font-size: 30vw;
    margin: 0 auto;
    width: 80vw;
    padding-bottom: 4vh;
    padding-top: 7vh;
}
.pomodoroButtons{
	position: fixed;
	bottom: 0;
    width: 100vw;
}
.pomodoroButtons > button{
    width: calc(100vw/3);
    height: calc(100vw/3);
    max-height: 20vh;
    background: none;
    background-color: yellowgreen;
    padding-left: 0;
    padding-right: 0;
    border: none;
    outline: none;
    margin: 0 -1.5px;
}

input{
	width: 80px;
}

/* Buttons */

#start{
	background-color: #2ECC40;
}
#pause{
	background-color: #FFDC00;
}
#stop{
	background-color: #FF4136;
}